<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<httpErrors>
			<remove statusCode="502" subStatusCode="-1" />
			<remove statusCode="501" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<remove statusCode="412" subStatusCode="-1" />
			<remove statusCode="406" subStatusCode="-1" />
			<remove statusCode="405" subStatusCode="-1" />
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="403" subStatusCode="-1" />
			<remove statusCode="401" subStatusCode="-1" />
			<error statusCode="400" path="C:\Inetpub\vhosts\le-av.com\error_docs\bad_request.html" />
			<error statusCode="407" path="C:\Inetpub\vhosts\le-av.com\error_docs\proxy_authentication_required.html" />
			<error statusCode="414" path="C:\Inetpub\vhosts\le-av.com\error_docs\request-uri_too_long.html" />
			<error statusCode="415" path="C:\Inetpub\vhosts\le-av.com\error_docs\unsupported_media_type.html" />
			<error statusCode="503" path="C:\Inetpub\vhosts\le-av.com\error_docs\maintenance.html" />
			<error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\unauthorized.html" />
			<error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\forbidden.html" />
			<error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\not_found.html" />
			<error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\method_not_allowed.html" />
			<error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\not_acceptable.html" />
			<error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\precondition_failed.html" />
			<error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\internal_server_error.html" />
			<error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\not_implemented.html" />
			<error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\le-av.com\error_docs\bad_gateway.html" />
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="Ignore" enabled="true" stopProcessing="true">
					<match url="^(assets|dist|images|css).*" />
					<conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
					<action type="None" />
				</rule>
				<rule name="Rewrite generic exApi" stopProcessing="true">
					<match url="^exapi/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_URI}" negate="true" pattern="^/css/(.*)+" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" url="index.php?pageName={R:1}exApi&amp;type={R:2}" />
				</rule>
				<rule name="Rewrite generic api" stopProcessing="true">
					<match url="^api/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_URI}" negate="true" pattern="^/css/(.*)+" ignoreCase="true" />
					</conditions>
					<action type="Rewrite" url="index.php?pageName={R:1}Api&amp;type={R:2}" />
				</rule>
				<!-- en -->
				<rule name="Rewrite generic en inbox " stopProcessing="true">
					<match url="^en/inbox/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=inbox" />
				</rule>
				<rule name="Rewrite generic en verify " stopProcessing="true">
					<match url="^en/verify/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=verify" />
				</rule>
				<rule name="Rewrite generic en signup " stopProcessing="true">
					<match url="^en/signup/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=signup" />
				</rule>
				<rule name="Rewrite generic en login " stopProcessing="true">
					<match url="^en/login/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=login" />
				</rule>
				<rule name="Rewrite generic en profile " stopProcessing="true">
					<match url="^en/profile/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=profile&amp;profileId={R:1}" />
				</rule>
				<rule name="Rewrite generic en sell " stopProcessing="true">
					<match url="^en/sell/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=sell" />
				</rule>
				<rule name="Rewrit∏∏e generic en product " stopProcessing="true">
					<match url="^en/product/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=productDetail&amp;refId={R:1}" />
				</rule>
				<rule name="Rewrite generic en subcategory " stopProcessing="true">
					<match url="^en/([a-zA-Z0-9-]+)/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=category&amp;seo={R:1}&amp;subSeo={R:2}" />
				</rule>
				<rule name="Rewrite generic en category" stopProcessing="true">
					<match url="^en/([a-zA-Z0-9-]+)/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=category&amp;seo={R:1}" />
				</rule>
				<rule name="Rewrite generic with en index" stopProcessing="true">
					<match url="^en/" />
					<action type="Rewrite" url="index.php?lang=en&amp;pageName=index" />
				</rule>
				<!-- tc -->
				<rule name="Rewrite generic inbox " stopProcessing="true">
					<match url="^inbox/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=inbox" />
				</rule>
				<rule name="Rewrite generic verify " stopProcessing="true">
					<match url="^verify/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=verify" />
				</rule>
				<rule name="Rewrite generic signup " stopProcessing="true">
					<match url="^signup/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=signup" />
				</rule>
				<rule name="Rewrite generic login " stopProcessing="true">
					<match url="^ogin/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=login" />
				</rule>
				<rule name="Rewrite generic profile " stopProcessing="true">
					<match url="^profile/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=profile&amp;profileId={R:1}" />
				</rule>
				<rule name="Rewrite generic sell " stopProcessing="true">
					<match url="^sell/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=sell" />
				</rule>
				<rule name="Rewrite generic tc product " stopProcessing="true">
					<match url="^product/([a-zA-Z0-9]+)/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=productDetail&amp;refId={R:1}" />
				</rule>
				<rule name="Rewrite generic tc subcategory" stopProcessing="true">
					<match url="^(.*)/(.*)/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=category&amp;seo={R:1}&amp;subSeo={R:2}" />
				</rule>
				<rule name="Rewrite generic tc category" stopProcessing="true">
					<match url="^(.*)/" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=category&amp;seo={R:1}" />
				</rule>
				<rule name="Rewrite generic with tc index" stopProcessing="true">
					<match url="(.*)" />
					<action type="Rewrite" url="index.php?lang=tc&amp;pageName=index" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
